.button_style {
    width: 200px;
    height: 50px;
    background-color: dimgray;
    border-radius: 10px;

    font-size: 200%;
    font-family: 'monospace';

    position: absolute;
    left: calc(50% - 100px);
    top: calc(100% - 80px);
}
.button_style:hover{
    background-color: #9f9f9f;
}

.text_box {
    width: 400px;
    height: calc(100vh - 200px);
    background-color: darkgray;
    border-radius: 10px;

    font-size: 150%;
    font-family: 'monospace';

    display: flex;
    padding-left: 23px;
    padding-top: 15px;

    margin-left: calc(50% - 200px);
}

.project_style {
    width: 400px;
    height: 120px;
    background-color: darkgray;
    border-radius: 10px;

    font-size: 200%;
    font-family: 'monospace';

    display: flex;
    padding-left: 23px;
    padding-top: 15px;

    margin-left: calc(50% - 200px);
}

.project_style:hover{
    background-color: #d3d3d3;
}

.dev_name{
    font-size: 70%;
    font-family: 'monospace';

    color: #2e2e2e;

    display: flex;
    position: absolute;
    margin-top: 50px;
}
